<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p id="p3">This website created by surya and finally deployed to heroku and now it is 
            currently being tested for the new feature deployement
        </p>
        <img class="portrait" src="/img/me.png">
    </div>
    
    {{>footer}}
</body>

</html>